openapi: 3.2.0
info:
  title: Nimble Users API
  version: v1
  description: '# Overview


    Nimble is a relationship-focused CRM for your entire team.'
  x-logo:
    url: https://www.nimble.com/wp-content/themes/new_nimble/images/nimble-logo-white.svg
    backgroundColor: '#2685c4'
servers:
- url: https://app.nimble.com
security:
- ApiKey: []
tags:
- name: Users
  description: User management
paths:
  /api/v1/myself:
    get:
      description: Returns information about authenticated user. User_id from this response can be used to assign different Nimble entities to this user. Such as tasks, contacts, etc.
      operationId: get-myself
      summary: Current user info
      tags:
      - Users
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  company_id:
                    type: string
                    example: 4c2118ad54397f271b000000
                  company_size:
                    type: integer
                    example: 3
                  email:
                    type: string
                    example: some@user.com
                  name:
                    type: string
                    example: John Doe
                  user_id:
                    type: string
                    example: 4f2acc3142a053dda595f00b
                required:
                - user_id
                - company_id
                - email
                - name
                - company_size
                type: object
          description: ''
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-Nimble-Token
x-tagGroups:
- name: Guides
  tags:
  - Authentication
  - Handling Errors
- name: API Reference
  tags:
  - Users
  - Contacts
  - Contacts Fields
  - Contacts Pipelines
  - Search Contacts
  - Activities
  - Tasks
  - Deals
  - Deals Fields
  - Deals Pipelines
  - Deals Pipelines Fields
  - Messages
