openapi: 3.1.0
info:
  title: Nimble CRM Contacts Fields API
  description: 'The Nimble REST API lets developers manage contacts, deals,

    pipelines, notes, custom fields, and messages within a Nimble

    account. Requests are authenticated with an OAuth 2.0 bearer

    token, either via the Authorization header or an access_token

    query parameter.

    '
  version: v1
servers:
- url: https://app.nimble.com/api/v1
  description: Nimble production API base
security:
- bearerAuth: []
tags:
- name: Fields
paths:
  /contact/fields/metadata:
    get:
      summary: List contact field metadata
      operationId: listContactFieldsMetadata
      tags:
      - Fields
      responses:
        '200':
          description: Field metadata
  /contact/field:
    post:
      summary: Create a custom contact field
      operationId: createContactField
      tags:
      - Fields
      responses:
        '201':
          description: Field created
  /contact/field/{field_id}:
    put:
      summary: Update a contact field
      operationId: updateContactField
      tags:
      - Fields
      parameters:
      - in: path
        name: field_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Field updated
    delete:
      summary: Delete a contact field
      operationId: deleteContactField
      tags:
      - Fields
      parameters:
      - in: path
        name: field_id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Field deleted
components:
  securitySchemes:
    bearerAuth:
      type: oauth2
      description: 'OAuth 2.0 bearer token. Provide the token via either the

        `Authorization: Bearer <token>` header or the

        `access_token=<token>` query parameter.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://app.nimble.com/oauth/authorize
          tokenUrl: https://app.nimble.com/oauth/token
          scopes: {}
