openapi: 3.1.0
info:
  title: Nimble CRM Contacts Notes API
  description: 'The Nimble REST API lets developers manage contacts, deals,

    pipelines, notes, custom fields, and messages within a Nimble

    account. Requests are authenticated with an OAuth 2.0 bearer

    token, either via the Authorization header or an access_token

    query parameter.

    '
  version: v1
servers:
- url: https://app.nimble.com/api/v1
  description: Nimble production API base
security:
- bearerAuth: []
tags:
- name: Notes
paths:
  /contact/{contact_id}/note:
    post:
      summary: Create a contact note
      operationId: createContactNote
      tags:
      - Notes
      parameters:
      - in: path
        name: contact_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Note created
  /contact/{contact_id}/notes:
    get:
      summary: List contact notes
      operationId: listContactNotes
      tags:
      - Notes
      parameters:
      - in: path
        name: contact_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Notes collection
  /contact/{contact_id}/note/{note_id}:
    get:
      summary: Get a specific contact note
      operationId: getContactNote
      tags:
      - Notes
      parameters:
      - in: path
        name: contact_id
        required: true
        schema:
          type: string
      - in: path
        name: note_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Note details
    put:
      summary: Update a contact note
      operationId: updateContactNote
      tags:
      - Notes
      parameters:
      - in: path
        name: contact_id
        required: true
        schema:
          type: string
      - in: path
        name: note_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Note updated
    delete:
      summary: Delete a contact note
      operationId: deleteContactNote
      tags:
      - Notes
      parameters:
      - in: path
        name: contact_id
        required: true
        schema:
          type: string
      - in: path
        name: note_id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Note deleted
components:
  securitySchemes:
    bearerAuth:
      type: oauth2
      description: 'OAuth 2.0 bearer token. Provide the token via either the

        `Authorization: Bearer <token>` header or the

        `access_token=<token>` query parameter.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://app.nimble.com/oauth/authorize
          tokenUrl: https://app.nimble.com/oauth/token
          scopes: {}
