openapi: 3.1.0
info:
  title: Nimble CRM Contacts Pipelines API
  description: 'The Nimble REST API lets developers manage contacts, deals,

    pipelines, notes, custom fields, and messages within a Nimble

    account. Requests are authenticated with an OAuth 2.0 bearer

    token, either via the Authorization header or an access_token

    query parameter.

    '
  version: v1
servers:
- url: https://app.nimble.com/api/v1
  description: Nimble production API base
security:
- bearerAuth: []
tags:
- name: Pipelines
paths:
  /pipelines:
    get:
      summary: List deal pipelines
      operationId: listPipelines
      tags:
      - Pipelines
      responses:
        '200':
          description: Pipelines collection
  /pipeline:
    post:
      summary: Create a pipeline
      operationId: createPipeline
      tags:
      - Pipelines
      responses:
        '201':
          description: Pipeline created
  /pipeline/{pipeline_id}:
    put:
      summary: Update a pipeline
      operationId: updatePipeline
      tags:
      - Pipelines
      parameters:
      - in: path
        name: pipeline_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Pipeline updated
components:
  securitySchemes:
    bearerAuth:
      type: oauth2
      description: 'OAuth 2.0 bearer token. Provide the token via either the

        `Authorization: Bearer <token>` header or the

        `access_token=<token>` query parameter.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://app.nimble.com/oauth/authorize
          tokenUrl: https://app.nimble.com/oauth/token
          scopes: {}
