openapi: 3.1.0
info:
  title: Nimble CRM Contacts API
  description: 'The Nimble REST API lets developers manage contacts, deals,

    pipelines, notes, custom fields, and messages within a Nimble

    account. Requests are authenticated with an OAuth 2.0 bearer

    token, either via the Authorization header or an access_token

    query parameter.

    '
  version: v1
servers:
- url: https://app.nimble.com/api/v1
  description: Nimble production API base
security:
- bearerAuth: []
tags:
- name: Contacts
paths:
  /contacts:
    get:
      summary: List contacts
      operationId: listContacts
      tags:
      - Contacts
      parameters:
      - in: query
        name: query
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
      - in: query
        name: per_page
        schema:
          type: integer
      responses:
        '200':
          description: Contacts collection
    delete:
      summary: Delete multiple contacts by query
      operationId: deleteContactsByQuery
      tags:
      - Contacts
      responses:
        '204':
          description: Contacts deleted
  /contacts/ids:
    get:
      summary: List contact IDs only
      operationId: listContactIds
      tags:
      - Contacts
      responses:
        '200':
          description: Contact IDs
  /contact:
    get:
      summary: Retrieve specific contacts by IDs
      operationId: getContactsByIds
      tags:
      - Contacts
      parameters:
      - in: query
        name: ids
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Requested contacts
    post:
      summary: Create a new contact
      operationId: createContact
      tags:
      - Contacts
      responses:
        '201':
          description: Contact created
  /contact/{contact_id}:
    get:
      summary: Get an individual contact
      operationId: getContact
      tags:
      - Contacts
      parameters:
      - in: path
        name: contact_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Contact details
    put:
      summary: Update a contact
      operationId: updateContact
      tags:
      - Contacts
      parameters:
      - in: path
        name: contact_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Contact updated
    delete:
      summary: Delete a contact
      operationId: deleteContact
      tags:
      - Contacts
      parameters:
      - in: path
        name: contact_id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Contact deleted
components:
  securitySchemes:
    bearerAuth:
      type: oauth2
      description: 'OAuth 2.0 bearer token. Provide the token via either the

        `Authorization: Bearer <token>` header or the

        `access_token=<token>` query parameter.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://app.nimble.com/oauth/authorize
          tokenUrl: https://app.nimble.com/oauth/token
          scopes: {}
